@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

/** sbi - Search By Ingredient **/

:root {
  --theme-orange : #ff9800;
  --theme-green: #4caf50;
  --theme-red: #f44336;
  --theme-purple : #9c27b0;
  --theme-blue : #3f51b5;
  --sky-blue : #4c64e9;
  --light-blue : #6377e9;

  --blue-gradient : linear-gradient(90deg, rgba(63,81,181,1) 0%, rgba(76,100,233,1) 100%);
  --orange-gradient : linear-gradient(90deg, rgba(255,152,0,1) 0%, rgba(223,135,5,1) 100%);
  --purple-gradient : radial-gradient(circle, rgba(156,39,176,1) 0%, rgba(127,30,143,1) 100%);
  --green-gradient : linear-gradient(90deg, rgba(76,175,80,1) 0%, rgba(71,158,75,1) 100%);
  --red-gradient : linear-gradient(90deg, rgba(244,67,54,1) 0%, rgba(170,50,41,1) 100%);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.recipe-cards-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.inventory-val-cards-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(35, 66, 66, 0.2);
  border-radius: 8px;
  box-shadow: 6px 6px 12px 1px rgba(0,0,0,0.1);
  margin: 12px;
}

.recipe-card {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 0px 0px 4px 2px #dbdbdb;
  transition: all ease-in-out 400ms;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
  min-width: min-content;
  width: 35%;
}

.expand {
  width: 100%;
}


.recipe-info-panel {
  border: 1px black;
  overflow: auto;
  padding: 1vh;
  max-width: 50%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}



.recipe-preview {
  max-width: 50%;
  padding-left: 10px;
}

.recipe-card-header {
  font-family: 'Sansita Swashed', cursive;
  font-size: x-large;
}

.ingredients-div {
  display: flex;
  flex-direction: row;
  margin: 15px 0px;
}

.recipes-div{
  display: flex;
  flex-direction: column;
  margin: 15px 0px;
}

.button-default {
  border: none;
  margin: 5px;
  width: fit-content;
  background-color: var(--theme-blue);
  color: white;
  font-size: 20px;
  transition: ease-in-out 300ms;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 15px;
}

.button-default:hover {
  background-color: var(--sky-blue);
  cursor: pointer;
}

.button-danger {
  border: none;
  margin: 5px;
  width: fit-content;
  background-color: var(--theme-red);
  color: white;
  font-size: 20px;
  transition: ease-in-out 300ms;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 15px;
}

.button-danger:hover {
  cursor: pointer;
}

.button-info {
  border: none;
  margin: 5px;
  width: fit-content;
  background-color: var(--theme-orange);
  color: white;
  font-size: 20px;
  transition: ease-in-out 300ms;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 15px;
}

.button-info:hover {
  cursor: pointer;
}

.sbi-header {
  font-family: 'Sansita Swashed', cursive;
  font-size: xx-large;
}

.sbi-label {
  font-family: 'Commissioner', sans-serif;
  font-size: large;
}

.info-text {
  font-family: 'Commissioner', sans-serif;
  font-size: normal;
}

.status-label {
  font-size: large;
  font-family: 'Bungee', cursive;
  font-weight: lighter;
}

/* #inputIngredient {
  font-family: 'Commissioner', sans-serif;
  font-size: 20px;
  color: #282c34;
  
} */

.invlist-div {
  border: 1 solid red;
  background-color: rgba(255, 255, 255, .4);
  background-color: rgba(11, 80, 80, 0.2);
  border-radius: 16px;
  padding-bottom: 16px; 
  margin: 0 16px 0 16px;
  box-shadow: 6px 6px 12px 1px rgba(0,0,0,0.1);
}


.invlist-label {
  font-family: 'Commissioner', sans-serif;
  font-size: x-large;
}


/* FOR HOME DASH BOARD */

.bubble-heading {
  color: white;
  font-weight: normal;
  font-size: x-large;
  background: linear-gradient(90deg, rgba(76,100,233,1) 0%, rgba(63,81,181,1) 100%);
  width: fit-content;
  border-radius: 10px;
  padding: 5px;

}

.dash-card {
 
  background-color: white;
  width: fit-content;
  padding: 0.5rem;
  margin : 0.5rem;
  border-radius: 20px;
  border-color: var(--light-blue);
  border-style: solid;
  font-family: 'Commissioner', sans-serif;
  font-size: small;
  color: #282c34;
  transition: ease-in-out 300ms;
}

.dash-card:hover {
 
  background-color: whitesmoke;
  box-shadow: 0px 0px 10px 2px var(--sky-blue) ;

}

.dash-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.dash-graphs-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
}

.heat-index-div {
  background-color: whitesmoke;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}